[Unit]
After=network.target

[Service]
User=tkhs
Group=tkhs
ExecStart=/home/tkhs/b1pro/code-insiders-server/code-insiders-server.sh
Restart=on-failure

[Install]
WantedBy=default.target
