[Unit]
After=network.target

[Service]
User=tkhs
Group=tkhs
ExecStart=/home/tkhs/b1pro/openhands/openhands.sh
Restart=on-failure

[Install]
WantedBy=default.target
